/*Note: There are three different ways to add background colors here.
You can add them using a name (for common names), Hex, or RGB values.
*/

body {
  width: 100px;
  height: 100px;
  background-color: grey;
  position: absolute;
  top:50px;
    left:44%;
}

#div-1 {
        color:transparent;
  background-color: purple;
  position: relative;
    width:5em;
    height:5em;
    border-radius:50%;
    padding:0em;
    margin:2em;
}
#div-2 {
        color:transparent;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
#div-3 {
    color:transparent;
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: teal transparent;
    margin:2em;
}
#div-3:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent teal;

}

#div-4 {
  color:transparent;
  background-color: rgb(205,163,205);
  width: 5em;
  height: 5em;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
